[Unit]
Description=Keller Sensor Telegram Bot
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/keller
Restart=on-abort

[Install]
WantedBy=multi-user.target